VITE_WEB_FIREBASE_API_KEY="AIzaSyC8HoWaAu0XWy3he_pMxqUIWwREDPdeUpg"
VITE_WEB_FIREBASE_AUTH_DOMAIN="talib-club-web.firebaseapp.com"
VITE_WEB_FIREBASE_PROJECT_ID="talib-club-web"
VITE_WEB_FIREBASE_STORAGE_BUCKET="talib-club-web.firebasestorage.app"
VITE_WEB_FIREBASE_MESSAGING_SENDER_ID="300903382422"
VITE_WEB_FIREBASE_APP_ID="1:300903382422:web:887e6f03a6c4f0092db1b7"
VITE_WEB_FIREBASE_MEASUREMENT_ID="G-CQ5R964GMN"
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o-mini"
ANTHROPIC_API_KEY=""
ANTHROPIC_MODEL="claude-sonnet-4-20250514"
